.GameScreenWrapper {
  background: var(--background-blue);
  padding: 40px 20px;
  overflow: auto;
  height: 100%;
}
.GameScreenWrapper ul {
  max-width: 800px;
  margin: auto;
}

.GameScreenWrapper ul:has(.noGame) {
  height: 100%;
  display: grid;
  place-items: center;
}

.GameScreenWrapper ul:has(.noGame) li {
  grid-column: 1/3;
}

.gameLink {
  margin: 0px;
  list-style: none;
}

.gameLink:has(:focus-within, :hover) [data-testid="GameCard-wrapper"] {
  box-shadow: 0 0 0 2px #336d87, 0 0 0 4px black;
}

.noGame {
  margin: auto;
  list-style: none;
}

@media (min-width: 800px) {
  .GameScreenWrapper ul {
    gap: 20px 30px;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
