.GameScreenWrapper {
  background: var(--background-blue);
  padding: 40px 20px;
  overflow: auto;
}
.GameScreenWrapper ul {
  gap: 5px;
  max-width: 600px;
  margin: auto;
}

.gameLink {
  margin: 0px;
  list-style: none;
}

@media (min-width: 800px) {
  .GameScreenWrapper ul {
    gap: 20px 30px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
