.OutlineText {
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 2;
  font-family: "Lilita One";
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.OutlineText > *:focus-visible {
  outline: none;
}
.OutlineText:is([data-alignment="left"]) {
  place-items: start !important;
  text-align: left;
}

.OutlineText:is([data-alignment="right"]) {
  place-items: end !important;
  text-align: right;
}

.OutlineText:is([data-alignment="center"]) {
  place-items: center !important;
  text-align: center;
}

.OutlineText [data-uppercase="true"] {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.innerText {
  color: white;
  grid-row: 1/1;
  grid-column: 1/1;
  letter-spacing: 2px;
}
.whiteText {
  -webkit-text-stroke: 3px black;
  letter-spacing: 2px;
  grid-row: 1/1;
  grid-column: 1/1;
  text-shadow: 2px 2px 0px #000000;
}
