.OutlineText {
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 2;
  font-family: "Lilita One";
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.OutlineText:is([data-left="true"]) {
  place-items: start !important;
}

.OutlineText [data-uppercase="true"] {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.innerText {
  color: white;
  grid-row: 1/1;
  grid-column: 1/1;
  letter-spacing: 2px;
}
.whiteText {
  -webkit-text-stroke: 3px black;
  letter-spacing: 2px;
  color: red;
  grid-row: 1/1;
  grid-column: 1/1;
  text-shadow: 2px 2px 0px #000000;
}
