.Button {
  padding: 8px 15px;
  border: 1px solid black;
  box-shadow: 0 0 0 2px var(--teal), 0 0 0 4px black;
  border-radius: 5px;
  background: var(--teal-bright);
  margin: 4px;
  position: relative;
  cursor: pointer;
  min-height: 50px;
  transition: 0.2s ease-in-out;
}

.Button:hover {
  background: var(--teal);
}

.Button:after {
  content: " ";
  inset: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 95% 84%, 99% 0);
  background: rgba(0, 0, 0, 0.25);
  background-blend-mode: soft-light;
  position: absolute;
  border-radius: 3px;
}
.Button:before {
  content: " ";
  inset: 0;
  clip-path: polygon(59% 0, 6% 8%, 0 50%, 0 0);
  background: rgba(255, 255, 255, 0.3);
  background-blend-mode: soft-light;
  position: absolute;
  z-index: 6;
  border-radius: 3px;
}

.Button:is([data-button-type="secondary"]) {
  box-shadow: 0 0 0 2px var(--purple), 0 0 0 4px black;
  border-radius: 5px;
  background: var(--purple-bright);
}

.Button:is([data-button-type="secondary"]):hover {
  background: var(--purple);
}

.Button:is([data-button-type="delete"]) {
  box-shadow: 0 0 0 2px var(--red), 0 0 0 4px black;
  border-radius: 5px;
  background: var(--red-bright);
}

.Button:is([data-button-type="delete"]):hover {
  background: var(--red);
}
