.gameCardWrapper {
  position: relative;
  border-radius: 10px;
  background: #1e2d4a;
  border: 2px solid black;
  box-shadow: 0 0 0 4px #2e4675, 0 0 0 6px black;
  margin-block: 5px;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-blend-mode: soft-light;
}

.gradient {
  background: linear-gradient(
    90deg,
    #1e2d4a 22.54%,
    rgba(30, 45, 74, 0.5) 55.8%,
    rgba(30, 45, 74, 0) 100%
  );
  grid-row: 1/-1;
  grid-column: 1/-1;
  border-radius: 8px;
}

.profileWrapper {
  grid-row: 1/3;
  grid-column: 1/1;
  margin: 8px 15px;
}

.waitOverlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 10;
  border-radius: 10px;
  background: rgb(5 22 42 / 90%);
  display: grid;
  text-align: center;
  padding: 8px 15px;
  gap: 10px;
}

.buttonRow {
  display: flex;
  gap: 20px;
  height: fit-content;
  justify-content: center;
}

.cardContent {
  grid-column: 2/3;
  grid-row: 1/-1;
  margin-left: 20px;
}

.cardContent [data-uppercase="true"] {
  text-align: left !important;
}
