.gameCardWrapper {
  position: relative;
  border-radius: 10px;
  background: var(--dark-background);
  border: 2px solid black;
  box-shadow: 0 0 0 2px #2e4675, 0 0 0 4px black;
  margin-block: 5px;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-blend-mode: soft-light;
  height: 100%;
  transition: 0.2s ease-in-out;
  animation: slide-in-left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.gameCardWrapper:is(:hover) .tiles li {
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  box-shadow: none;
}

.gradient {
  background: linear-gradient(
    90deg,
    var(--dark-background) 22.54%,
    rgba(30, 45, 74, 0.5) 55.8%,
    rgba(30, 45, 74, 0) 100%
  );
  grid-row: 1/-1;
  grid-column: 1/-1;
  border-radius: 8px;
}

.profileWrapper {
  grid-row: 1/3;
  grid-column: 1/1;
  margin: 8px 15px;
}

.waitOverlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 10;
  border-radius: 10px;
  background: rgb(5 22 42 / 90%);
  display: grid;
  text-align: center;
  padding: 10px 20px;
  gap: 10px;
}

.buttonRow {
  display: flex;
  gap: 20px;
  height: fit-content;
  justify-content: center;
}

.cardContent {
  grid-column: 2/3;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 35px auto;
  grid-gap: 5px;
  grid-gap: 10px 5px;
  gap: 10px 5px;
  align-content: center;
  padding-bottom: 10px;
  margin-left: 10px;
}

.cardContent svg {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 5px;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.alignScore {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.cardContent [data-uppercase="true"] {
  text-align: left !important;
}

.tiles {
  display: flex !important;
  gap: 5px !important;
  width: fit-content;
  margin-left: 0px !important;
  grid-column: 1/-1;
  flex-wrap: wrap;
  padding-right: 15px;
}

.tiles > li > * {
  height: 30px !important;
  box-shadow: none;
  width: fit-content;
}

.lightBlend {
  mix-blend-mode: soft-light;
}

.flip-vertical-left {
  -webkit-animation: flip-vertical-left 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

.online {
  border-radius: 15px;
  padding: 3px 6px;
  background-color: #56c676;
  height: fit-content;
  animation: ping 1s ease-out infinite both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  80% {
    opacity: 20;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes ping {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(79, 194, 112, 1);
  }
  100% {
    box-shadow: 0px 0px 0px 10px rgba(79, 194, 112, 0);
  }
}
