.droppable {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.droppable:has([data-is-highlight="false"]) {
  transition: 0.1s ease-in-out;
}

.droppable:has([data-is-highlight="true"]) {
  background: rgb(56 191 252 / 60%);
  backdrop-filter: blur(1px);
  transition: 0.1s ease-in-out;
}

.droppable:has([data-active-dragging="false"]) {
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.droppable:has([data-active-dragging="true"]) {
  opacity: 1;
  transition: 0.1s ease-in-out;
}

.droppable:has([data-direction="left"]) {
  border-radius: 10px 0px 0px 10px;
}

.droppable:has([data-direction="right"]) {
  border-radius: 0px 10px 10px 0px;
}
