.ProfileImage {
  position: relative;
  height: 108px;
  width: 108px;
}
.ProfileImage * {
  box-sizing: border-box;
}

.light {
  mix-blend-mode: soft-light;
}

.dark {
  mask-type: alpha;
}

.hide {
  display: none;
}

.gemWrapper {
  position: absolute;
  bottom: 5px;
  left: 2px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  z-index: 4;
}

.gemWrapper svg {
  grid-row: 1/1;
  grid-column: 1/1;
}

.gemWrapper [data-testid="OutlineText-wrapper"] {
  transform: translateY(-2px);
}

.profilePicture {
  border: 2px solid black;
  border-radius: 45px;
  position: absolute;
  z-index: 3;
  top: 7px;
  left: 7px;
}

.background {
  position: absolute;
  left: 0px;
}

.circleOffset {
  background: black;
  opacity: 0.4;
  border-radius: 90px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 6px;
  top: 6px;
}

.notificationWrapper {
  position: absolute;
  z-index: 5;
  top: 5px;
  right: 5px;
  display: grid;
}

.notification,
.notification .text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.notification .text {
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 2;
  font-family: "Londrina-solid";
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transform: rotate(10deg);
}

.notification .innerText {
  color: black;
  grid-row: 1/1;
  grid-column: 1/1;
  font-size: 14px;
  letter-spacing: 1.5px;
  filter: url(#stroke-text-svg-filter);
}
.notification .whiteText {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: white;
  grid-row: 1/1;
  grid-column: 1/1;
}

.notification svg {
  grid-row: 1/1;
  grid-column: 1/1;
}
