.ProfileImage {
  position: relative;
  height: 98px;
  width: 98px;
}
.ProfileImage * {
  box-sizing: border-box;
}

.light {
  mix-blend-mode: soft-light;
}

.dark {
  mask-type: alpha;
}

.hide {
  display: none;
}

.gemWrapper {
  position: absolute;
  bottom: 5px;
  left: -3px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  z-index: 4;
}

.gemWrapper svg {
  grid-row: 1/1;
  grid-column: 1/1;
}

.gemWrapper [data-testid="OutlineText-wrapper"] {
  translate: 0px -3px;
  rotate: -5deg;
}

.profilePicture {
  border: 2px solid black;
  border-radius: 45px;
  position: absolute;
  z-index: 3;
  top: 7px;
  left: 7px;
}

.background {
  position: absolute;
  left: 0px;
}

.circleOffset {
  background: black;
  opacity: 0.4;
  border-radius: 90px;
  height: 90px;
  width: 90px;
  position: absolute;
  left: 8px;
  top: 8px;
}

.notificationWrapper {
  position: absolute;
  z-index: 5;
  top: 5px;
  right: 5px;
  display: grid;
}

.notification {
  background: #e06f72;
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 17px;
  border: 2px solid black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
