.central {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  transition: 0.2s ease-in-out;
}
.content {
  padding: 15px 0px;
}

.central summary {
  outline: none;
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.central details summary svg {
  width: 16px;
  height: 16px;
  transform: rotate(0);
  transition: 0.25s transform ease;
}

.central details summary {
  cursor: pointer;
  transition: all 150ms ease-out;
  padding: 15px 0px;
}

.central details summary:hover {
  background: var(--dark-background);
}

.central details summary:focus-visible {
  outline: 2px solid white;
}

.central details:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.central details[open] summary {
  margin-bottom: 10px;
}

.central details[open] summary svg {
  transform: rotate(90deg);
}

.central summary::-webkit-details-marker {
  display: none;
}

.central details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}

@media (min-width: 800px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
