.homeScreenWrapper {
  display: flex;
  flex-direction: column;
  background: var(--background-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  background-blend-mode: soft-light;
  height: 100%;
}

.homeScreenWrapper [data-testid="Dialog-wrapper"] {
  gap: 0px;
}

.central {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-bottom: 100px;
  padding: 0px 20px;
  width: 100%;
  max-width: 700px;
}

.auth {
  backdrop-filter: blur(1px);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid black;
  box-shadow: 0 0 0 2px #336d87, 0 0 0 4px black;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 5px;
  margin: 6px;
}

.central > :first-child {
  margin-bottom: 100px;
  padding: 30px;
}

.fieldset {
  border-radius: 5px;
  border: none;
  padding: 0px;
}

.fieldset legend {
  margin: 15px 0px;
}

.radio {
  display: grid;
  grid-template-columns: 20px 1fr 5px;
  grid-template-rows: auto auto;
  margin-bottom: 10px;
  gap: 2px 10px;
  padding: 10px;
  border-radius: 5px;
  background: var(--background-blue);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.radio:has(input:focus-visible) {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px black;
}
.radio:hover {
  background: #2e4675;
}

.indicator {
  grid-row: 1/-1;
  grid-column: 1/1;
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 16px;
  width: 16px;
  position: relative;
  margin-top: 3px;
}
.radio:has(input:checked) .indicator::after {
  content: "";
  position: absolute;
  background: #fff;
  height: 8px;
  width: 8px;
  border-radius: 16px;
  top: 3px;
  left: 3px;
}

.radio input {
  grid-row: 1/3;
  grid-column: 3/3;
  opacity: 0;
  height: 2px;
  width: 2px;
}

.title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.05em;

  /* text-transform: uppercase; */
}
.smallText {
  font-size: 0.875rem;
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  line-height: 1.1rem;
}

.close {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.close:hover {
  background: var(--background-blue);
}

.close svg {
  height: 20px;
  width: 20px;
}
.input {
  color: black !important;
  font-family: "Baloo 2";
  font-weight: 700;
  letter-spacing: normal;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  box-shadow: 0 0 0 2px #336d87, 0 0 0 4px black;
  margin: 10px 3px 20px;
}

.inputLabel {
  font-weight: 500;
  letter-spacing: 0.05em;
}

@media (min-width: 800px) {
  .central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 5vh auto 40px;
    padding: 0px 20px;
    width: 100%;
    max-width: 600px;
    grid-template-rows: 150px 60px;
  }

  .central > :first-child {
    margin-bottom: 30px;
    grid-row: 1/1;
    grid-column: 1/-1;
  }

  .auth {
    grid-column: 1/-1;
  }
}
