.dialogBox {
  width: min(80%, 500px);
}
.dialogBox::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}
.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radioWrapper label {
  border: 2px solid lightblue;
}
.radioWrapper input {
  visibility: hidden;
}

.radioWrapper label:has(input:checked) {
  border: 2px solid blue;
}

.homeScreenWrapper {
  display: flex;
  flex-direction: column;
  background: #101828;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  background-blend-mode: soft-light;
}

.central {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-bottom: 50px;
  padding: 0px 20px;
  width: min(90vw, 700px);
}
