.keyboardTileWrapper {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  flex: 1;
}

.keyboardTileBottom,
.keyboardTileTop {
  line-height: 55px;
  display: grid;
  place-content: center;
  height: 50px;
  box-shadow: inset 2px 2px 0px rgb(255 255 255 / 60%),
    inset -2px -2px 0px rgb(0 0 0 / 20%);
  border-radius: 5px;
  background: #e0eaee;
  position: relative;
  cursor: pointer;
  padding: 5px;
}

.keyboardTileTop {
  top: 0px;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.keyboardTileTop:has(:hover, :focus-visible) {
  background: #fff;
}

.keyboardTileWrapper [data-dragging="true"] {
  z-index: 99;
}
.keyboardTileWrapper [data-dragging="false"] {
  transition: 0.2s ease-in-out;
}

.keyboardTileWrapper [data-not-dragging="true"] {
  opacity: 0.2;
  box-shadow: none;
}

.keyboardTileWrapper [data-text-shadow] {
  -webkit-text-stroke: 4px black;
  text-shadow: none;
}

@media (max-height: 580px) {
  .keyboardTileTop,
  .keyboardTileBottom {
    line-height: 45px;
    height: 45px;
  }
}
