.tabsWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.tab svg {
  height: 20px;
  width: 20px;
}
.notification {
  position: absolute;
  right: 4px;
  top: -8px;
}

.notification svg {
  height: 30px;
  width: 30px;
}
