.tabsWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100dvh;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--dark-background);
  border-top: 2px solid black;
  box-shadow: 0 0 0 2px #2e4675, 0 0 0 4px black;
  z-index: 16;
  position: relative;
}

.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 5px;
  transition: 0.2s ease-in-out;
}

.tab:focus-visible {
  box-shadow: inset 0 0 0 2px #ffffff;
}

.tab:is([data-active-tab="true"], :hover) {
  background: #27395b;
}

.tab svg {
  height: 22px;
  width: 22px;
  display: none;
}
.notification {
  position: absolute;
  right: 5px;
  top: -10px;
}

.notification svg {
  height: 30px;
  width: 30px;
}

.landscape {
  display: none;
}

@media (min-width: 800px) {
  .tabsWrapper {
    grid-template-rows: auto 1fr;
  }

  .tabs {
    grid-row: 1/1;
    grid-template-columns: auto 250px 250px 250px auto;
  }

  .tabs > :nth-child(1) {
    grid-row: 1/1;
    grid-column: 2/2;
  }
  .tabs > :nth-child(2) {
    grid-row: 1/1;
    grid-column: 3/3;
  }
  .tabs > :nth-child(3) {
    grid-row: 1/1;
    grid-column: 4/4;
  }
  .tab {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 30px;
    justify-content: center;
    flex-direction: initial;
  }

  .notification {
    position: absolute;
    right: 6px;
    top: 12px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .landscape {
    display: grid;
    place-items: center;
  }

  .portrait {
    display: none;
  }
}
