.gameWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--background-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  background-blend-mode: soft-light;
}
.backLink {
  color: black;
  text-decoration: none;
  line-height: 18px;
  display: flex;
  gap: 5px;
}

.backLink svg {
  height: 18px;
}

.gameBody {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 1fr auto;
  height: 100%;
  margin-bottom: 15px;
}

.dropArea {
  display: flex;
  height: min(60%, 300px);
  grid-row: 3/4;
  grid-column: 1/2;
  z-index: 10;
  position: relative;
  margin: auto 0px;
}

.gameInfo {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  position: relative;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  height: min(60%, 300px);
  margin: auto 0px;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid black;
  box-shadow: 0 0 0 3px #336d87, 0 0 0 5px black, 2px 2px 0 5px rgb(0 0 0 / 70%),
    inset 3px 3px 0px rgb(0 0 0 / 37%),
    inset -3px -3px 0px rgb(255 255 255 / 5%);
}

.buttonRow {
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}

.wordWrapper {
  margin: 0px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.wordWrapper li {
  flex: inherit;
  width: 35px;
  box-shadow: 0 0 0 3px #336d87, 0 0 0 5px black;
  border-radius: 6px;
  height: 54px;
}

.wordWrapper li > * {
  height: 54px;
  box-shadow: none;
}

.playerScoreWrapper {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 28px auto auto 28px;
  grid-template-rows: 28px auto;
  gap: 0px 10px;
}

.playerOneImage {
  border-radius: 16px;
}

.playerOneName {
  grid-column: 2/3;
  grid-row: 1/2;
}

.playerOneScore {
  grid-column: 2/3;
  grid-row: 2/3;
}

.playerTwoName {
  grid-column: 3/4;
  grid-row: 1/2;
}

.playerTwoImage {
  grid-row: 1/3;
  grid-column: 4/5;
}

.playerTwoScore {
  grid-column: 3/4;
  grid-row: 2/3;
}

.emptyTile {
  list-style: none;
  height: 54px;
  width: 35px !important;
  border-radius: 6px;
  background: var(--background-blue);
  border: 2px solid black;
  box-shadow: 0 0 0 3px #336d87, 0 0 0 5px black;
}
