@import url(https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,regular,900);
@import url(https://fonts.googleapis.com/css?family=Lilita+One:regular);

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lilita One";
}

* {
  box-sizing: border-box;
  color: #ffffff !important;
  letter-spacing: 2px;
}

button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px black !important;
}

a:focus-visible {
  outline: none;
}

a:focus-visible li {
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px black;
}
:root {
  --background-blue: #101828;
  --dark-background: #1e2d4a;
  --teal: #48dbb8;
  --teal-bright: #7dd8c2;
  --purple: #7d5cdb;
  --purple-bright: #957dd8;
  --red: #a0362b;
  --red-bright: #be6054;
}

.shadow {
  transform: translateX(2px);
  fill: pink;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.central-width-container {
  width: min(90vw, 1200px);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  flex: 1;
}

@media (max-width: 500px) {
  .central-width-container {
    width: 100%;
  }
}
